<div class="container" ng-init="createAccessCodeView = false">
<h3>Access Codes </h3>
<div class = "container">
<div class = "row">
  <button class="btn btn-primary" ng-click="createAccessCodeView = true">Create Access Code</button>
</div>
<div ng-if="createAccessCodeView" class = "row"  ng-init="newAccessCode = newAccessCodeModel()">
  <formly-form  model="newAccessCode" fields="newAccessCodeField"
  form="accessCodeForm">
    <button type="submit" ng-disabled="accessCodeForm.$invalid"
      ng-click="createAccessCode(newAccessCode); createAccessCodeView = false">
      Submit
    </button>
  </formly-form>
</div>
<div class= "row">
  <div class="col-md-2">
    <span>Id</span>
  </div>
  <div>
    <span>Code</span>
  </div>
  <div>
    <span>Domains</span>
  </div>
</div>
<div ng-if="!accessCodes.length"> No Domains</div>
<div ng-repeat="accessCode in accessCodes" class= "row">
    <div class="col-md-2">
      <span>{{accessCode.codeId}}</span>
    </div>
    <div class = "col-md-2">
      <span editable-text="accessCode.code">{{accessCode.code}}</span>
    </div>
    <div class = "col-md-2">
      <select id="domainsSelect" ng-model="accessCode.domains" multiple>
        <option ng-repeat="domain in domains" value="{{domain.domainId}}">{{domain.name}}</option>
      </select>
    </div>
    <div class = "col-md-2">
      <button class="btn btn-primary" ng-click="saveAccessCode(accessCode)">
        Update
      </button>
    </div>



</div>
</div>

</div>
