<md-content layout-fill>
  <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          Dashboard
        </div>
  </md-toolbar>
  <div layout="row" layout-margin="5%">
  <md-card flex>
  <md-card-header>
    <md-card-header-text>
      <span class="md-title">Number of Domains</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p>
    {{domains.length || 0}}/{{user.customFields.domainSize}}
    </p>
  </md-card-content>
</md-card>
<md-card flex>
<md-card-header>
  <md-card-header-text>
    <span class="md-title">Number of Access Codes</span>
  </md-card-header-text>
</md-card-header>
<md-card-content>
  <p>
   {{accessCodes.length || 0}}/{{user.customFields.accessCodeSize}}
  </p>
</md-card-content>
</md-card>
  </div>

  <div layout="row" layout-margin="10%">
  <md-card flex>
  <md-card-header>
    <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            My Domains
          </div>
    </md-toolbar>
  </md-card-header>
  <md-card-content>
    <div ng-if="!domains.length" class="align-center"> No Domains</div>
    <!-- exact table from live demo -->
    <md-table-container ng-if="domains.length">
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md-column><span>Domain Name</span></th>
            <th md-column><span>File Memory Usage</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select-id="name" md-auto-select ng-repeat="domain in domains">
            <td md-cell>{{domain.name}}</td>
            <td md-cell>{{domain.limit.size | bytes}} / {{domain.limit.limit | bytes}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card-content>
</md-card>

</div>
</md-content>
