<div class="container">
Dashboard

<div class="container">
<h3>My Domains </h3>
<div>
<div class= "row">
  <div class="col-md-2">
    <span>Id</span>
  </div>
  <div class = "col-md-2">
    <span>Name</span>
  </div>
  <div>
    <span>Code</span>
  </div>
</div>
<div ng-if="!domains.length"> No Domains</div>
<div ng-repeat="domain in domains" class= "row">
    <div class="col-md-2">
      <span>{{domain.domainId}}</span>
    </div>
    <div class = "col-md-2">
      <span>{{domain.name}}</span>
    </div>
    <div class = "col-md-2">
      <span>{{domain.code}}</span>
    </div>
    <div class="col-md-2" >
      <a class="button button-primary" ng-href="{{'localhost:8040/umaas-admin/app/admin?domain='+ domain.name}}">Manage </a>
    </div>
    <div class="col-md-2">
      <a class="button button-primary" ng-href="{{'localhost:8040/umaas-admin/app/register?domain='+ domain.name}}">Register User</a>
    </div>

</div>
</div>

<h3>My Access Codes </h3>
<div>
<div class= "row">
  <div class="col-md-2">
    <span>Id</span>
  </div>
  <div class = "col-md-2">
    <span>Code</span>
  </div>
</div>
<div ng-if="!accessCodes.length"> No Domains</div>
<div ng-repeat="accessCode in accessCodes" class= "row">
    <div class="col-md-2">
      <span>{{accessCode.codeId}}</span>
    </div>
    <div class = "col-md-2">
      <span>{{accessCode.code}}</span>
    </div>
</div>
</div>
</div>
</div>
