<div layout="column" >
  <div md-colors="{background: 'primary'}" layout-padding class="align-center">
   <h1 class="md-subheading">  Blog </h1>
  </div>
  <p class="align-center">
    Feel free to go to the umaas blog here
  </p>
  <div class="align-center">
    <md-button class="md-accent md-raised" ng-href="{{indexCtrl.applicationData.blog}}">
      Go To Blog
    </md-button>
  </div>
  <div layout="column" class="align-center">
    <div class="row">
      <md-input-container flex="70" flex-grow>
        <label>Search Topics</label>
        <input ng-model="blogSearch" type="text" id="blogSearch">
      </md-input-container>
    </div>
    <md-content class="column">

      <md-list>
        <md-list-item ng-repeat="blog in blogs | filter:{title: blogSearch} |limitTo: 10| orderBy:'date':true as collection" class="align-center">

          <md-card flex>

            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{blog.title}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
               {{blog.excerpt}}
              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end" layout-align="start center">
              <md-button class="md-primary md-raised" ng-href="{{indexCtrl.applicationData.blog + blog.url}}">Read</md-button>
            </md-card-actions>
          </md-card>
        </md-list-item>
        <md-list-item ng-show="!collection.length" md-colors="{background: 'warn'}" class="md-subheading" layout-padding>
          No Blog Posts
        </md-list-item>
      <md-list>
    </md-content>
  </div>
</div>
