<div layout="row" layout-fill>
     <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-hue-2">
          <span flex=""></span>
          <div layout="column" class="md-toolbar-tools-bottom inset">

            <div >UMAAS Community</div>

          </div>
      </md-toolbar>
     <md-list>
        <md-list-item ng-repeat="section in sections">

            <md-item-content md-ink-ripple="" layout="row" layout-align="start center"
           ui-sref="{{section.ref}}"  >
              <div class="inset">{{section.title}}
              </div>
            </md-item-content>

        </md-list-item>
     </md-list>
     <md-content layout-fill layout-padding>
       <a class="twitter-timeline" href="https://twitter.com/manageWithUmaas">Tweets by manageWithUmaas</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
     </md-content>
     </md-sidenav>
  <div layout="column" flex="" id="content" style='width: 50%'>
    <div flex="" layout-fill>
        <ui-view layout="column" layout-fill="" layout-padding="">

        </ui-view>
    </div>
  </div>

</div>
