<section id="header" md-colors="{background: 'primary'}" >
  <div>
    <h3 class="md-display-3">
      Take Back Control of Your Users
    </h3>
    <p class="md-headline">
      With this simple tool, you can have your users
       managed in a central location. Never
       have to worry about mundane things like multiple
        infrastructure for multiple applications,
        registration and authentication again!!
    </p>
    <p>
        <md-button class="md-raised md-accent md-large"
        ng-click="indexCtrl.gotoAnchor(1)" >LEARN MORE</md-button>
    </p>
  </div>
</section>

<section id="anchor1" role="feature">
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="feature-section flex" flex-order-sm="1" flex-order-xs="1">
      <div>
        <h3 class="feature-title md-display-1">
          User Profile Managment
        </h3>
        <p class="feature-description md-subheading">
          Store common user details and other
           custom fields pertaining to your user.
            The fields could even be files!!
        </p>
      </div>
    </div>
    <div class="feature-section flex">
        <img src="/assets/user.jpg"></img>
    </div>
  </div>
</section>

<section role="feature">
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="feature-section flex">
        <img src="/assets/groups.jpg"></img>
    </div>
    <div class="feature-section flex" flex-order-sm="1" flex-order-xs="1">
      <div>
        <h3 class="feature-title md-display-1">
          Group and Role Managment
        </h3>
        <p class="feature-description md-subheading">
          Organize your users into groups and assign them roles.
          The roles are returned on every authentication.
        </p>
      </div>
    </div>
  </div>
</section>

<section role="feature">
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="feature-section flex" flex-order-sm="1" flex-order-xs="1">
      <div>
        <h3 class="feature-title md-display-1">
            Authentication
        </h3>
        <p class="feature-description md-subheading">
          Have a single api for authenticating users in
          your different applications. Whether its on the
          same user set or a different one.
        </p>
      </div>
    </div>
    <div class="feature-section flex">
        <img src="/assets/authentication.jpg"></img>
    </div>
  </div>
</section>

<section role="feature">
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="feature-section flex">
      <img src="/assets/registration.png"></img>
    </div>
    <div class="feature-section flex" flex-order-sm="1" flex-order-xs="1">
      <div>
        <h3 class="feature-title md-display-1">
          Dynamic Registration
        </h3>
        <p class="feature-description md-subheading">
          Never have to code a registration form in your life!
          Have a dynamic registration flow that accounts for
          all your custom fields regardless of type.
        </p>
      </div>
    </div>
  </div>
</section>

<section role="feature">
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="feature-section flex" flex-order-sm="1" flex-order-xs="1">
      <div>
        <h3 class="feature-title md-display-1">
          Ui Administration
        </h3>
        <p class="feature-description md-subheading">
          Manage users, groups, roles and domain properties all in
          a sleek new user interface and rest api.
        </p>
      </div>
    </div>
    <div class="feature-section flex">
        <img src="/assets/admin.png"></img>
    </div>
  </div>
</section>

<section role="feature">
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="feature-section flex">
      <img src="/assets/more.jpg"></img>
    </div>
    <div class="feature-section flex" flex-order-sm="1" flex-order-xs="1">
      <div>
        <h3 class="feature-title md-display-1">
          ... And More
        </h3>
        <p class="feature-description md-subheading" style="text-align:left">
          Here is our road map for this project:
          <ul  style="text-align:left" >
            <li>Implementation of file and data storage for domains</li>
            <li>Implementation of client api in many programming environments: java, javascript, ruby, php</li>
            <li>User event recording and analysis</li>
            <li>Login and session management</li>
            <li>Single sign on and oauth provider</li>
            <li>Hosted and customized registration screens</li>
            <li>Import and export of user data</li>
            <li>Hooks plugin to perform operation on user events</li>
            <li>Integration to different services</li>
            <li>Customer Insights/Analysis</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<section role="feature">
  <div layout="column" layout-gt-sm="row" layout-padding>
    <div class="feature-section flex" flex-order-sm="1" flex-order-xs="1">
      <div>
        <h3 class="feature-title md-display-1">
          ... And lots More
        </h3>
        <p class="feature-description md-subheading">
          What features do you need to have integrated?
        </p>
        <p class="feature-description md-subheading">
          Do <a href="#">contact us</a> for any suggestions!
        </p>
      </div>
    </div>
    <div class="feature-section flex">
      <img src="/assets/contact-us.jpg"></img>
    </div>
  </div>
</section>

<section  ng-if="!indexCtrl.user" role="feature">
  <div class="feature-section">
    <div>
      <p class="feature-description md-subheading">
        Why not start and have your users
        managed free of charge?
      </p>
      <p>
          <md-button class="md-raised md-accent md-large"
          ng-href="{{indexCtrl.applicationData.umaasRegistration + '?domain=' + indexCtrl.applicationData.domain}}">Sign Up</md-button>
      </p>
    </div>
  </div>
</section>
