<div layout-fill id="gettingStarted" class="align-center">
  <h3 class="md-display-3">
    What platform are you using?
  </h3>
  <md-grid-list
      md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
      md-row-height-gt-md="1:1" md-row-height="4:3"
      md-gutter="8px" md-gutter-gt-sm="4px" >

  <md-grid-tile ng-repeat="ref in references"
                md-rowspan="1"
                    md-colspan="2"
                    md-colspan-sm="1"
                    md-colspan-xs="1" class="staff"
                    md-colspan-md="1"
                    md-colspan-gt-sm="2" >
    <md-button ng-href="{{indexCtrl.applicationData.blog + ref.url}}">
      <img ng-src="{{fullUrl(ref.logo)}}"></img>
      <p>{{ref.platform}}</p>
    </md-button>
  </md-grid-tile>
</md-grid-list>

</div>
