.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 4em;
}

.app-title *{
  vertical-align: middle;
}
.app-title {
  padding-top: 10px;
  padding-left: 10px;
}
.md-list-item{
  border-bottom: 3px;
}

#header{
  text-align: center
}
#header div{
  width: 75%;
  margin: auto;
}
.md-large{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding: 20px;
}

section{

}

section[role=feature]{
  border-top: solid 1px;
  margin-top: 10px;
  border-color: rgba(0, 0, 0, 0.12);
}
section[role=feature] .feature-section div{
  text-align: center;
  margin: 5% 10%;
}
section[role=feature] .feature-section img{
  text-align: center;
  margin: 5% 10%;
  height: 80%;
  width: 40%;
}
section[role=feature] .feature-section{
  text-align: center;
}

section[role=feature] .feature-title{

}

section[role=feature] .feature-description{

}

#loginPage .logo{
  text-align: center;
}
#loginPage img{
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

#loginPage md-card{
  width: 30%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#loginPage .login-form{
  padding: 5%, 20%;
}

.align-center{
  text-align: center;
}

.social img{
  width: 50px;
  height: 50px;
}

.staff img{
  max-width: 150px;
  max-width: 150px;
}
.staff md-grid-tile-footer figcaption{
  width: 100%;
}

.staff md-grid-tile-footer{
  margin-top: 10px;
}

#header p{
  margin-top: 12%;
}
