.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.push {
	height: 4em;
}

.footer div{
	margin: 5px auto
}
.app-title *{
  vertical-align: middle;
}
.app-title {
  padding-left: 10px;
}
.md-list-item{
  border-bottom: 3px;
}

#header{
  text-align: center
}
#header div{
  width: 75%;
  margin: auto;
}
.md-large{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding: 20px;
}

section{

}

section[role=feature]{
  border-bottom: solid 1px;
  margin-bottom: 10px;
  border-color: rgba(0, 0, 0, 0.12);
}
section[role=feature] .feature-section div{
  text-align: center;
  margin: 5% 10%;
}
section[role=feature] .feature-section img{
  text-align: center;
  margin: 5% 10%;
  height: 80%;
  width: 40%;
}
section[role=feature] .feature-section{
  text-align: center;
}

section[role=feature] .feature-title{

}

section[role=feature] .feature-description{

}

#loginPage .logo{
  text-align: center;
}
#loginPage img{
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

#loginPage md-card{
  width: 30%;
  min-width: 350px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#loginPage .login-form{
  padding: 5%, 20%;
}

.align-center{
  text-align: center;
}

.social img{
  width: 50px;
  height: 50px;
}

.staff img{
  max-width: 150px;
  max-width: 150px;
}
.staff md-grid-tile-footer figcaption{
  width: 100%;
}

.staff md-grid-tile-footer{
  margin-top: 10px;
}

#header p{
  margin-top: 10%;
}
#header {
	padding-top: 20px;
}
#header .md-button{
	margin-bottom: 8%;
}

#about .header * {
	width: 70%;
}
#about .team {
	margin-bottom: 20px;
}

#loginPage #login-title{
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 5%;
}
#loginPage md-card{
	margin-top: 5%;
}

.loading{
	position: absolute;
	top: 50%;
	left: 50%;
}

.nav-menu{
  margin-right:16px !important;
  width: 100%;
}

.middle-right{
  position: absolute;
  top: 50%;
  left: 0px;
}

.login-ui {
  min-width: 150px;
}